{% extends 'base.html' %} 
{% block content %}

<h3 class="p-3">Fire occasions</h3>
      {%for post in PostList %}
            <div class="card m-2" style="width:100;">
              <div class="row">
                <div class="col-3" >
                  <img src="https://picsum.photos/seed/picsum/200/200" class="card-img-top h-100" alt="...">
                </div>
                <div class="card-body col-9">
                  <h5 class="card-title">{{ post.pk }}</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's contentSome quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
      {% endfor %}      
{% endblock %}